extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  each mssg in messages
    li #{mssg.user} : #{mssg.text}
    br
  br
  .box
      a(class="btn", href="/new") Compose Message
    
    


